doctype html
html(lang='zxx')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='seo & digital marketing')
    meta(name='keywords', content='marketing,digital marketing,creative, agency, startup,promodise,onepage, clean, modern,seo,business, company')
    meta(name='author', content='dreambuzz')
    // Bootstrap CSS
    link(rel='stylesheet', href='assets/bootstrap/css/bootstrap.css', type='text/css')
    // Icon Font css
    link(rel='stylesheet', href='assets/fonts/flaticon/flaticon.css', type='text/css')
    // FONT AWESOME ICON
    link(rel='stylesheet', href='assets/css/all.css', type='text/css')
    link(rel='stylesheet', href='assets/css/icofont.css', type='text/css')
    // Animate STYLE
    link(rel='stylesheet', href='assets/css/animate.min.css', type='text/css')
    // Theme CUSTOM STYLE
    link(rel='stylesheet', href='assets/css/style.css', type='text/css')
    // RESPONSIVE STYLE
    link(rel='stylesheet', href='assets/css/responsive.css', type='text/css')
    title Promodise - seo and digital marketing solution 
  body(data-spy='scroll', data-target='.fixed-top')
    nav.navbar.navbar-expand-lg.fixed-top.trans-navigation
      .container
        a.navbar-brand(href='index')
          img.img-fluid.b-logo(src='assets/img/logo.png', alt='')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#mainNav', aria-controls='mainNav', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
            i.fa.fa-bars
        #mainNav.collapse.navbar-collapse.justify-content-end
          ul.navbar-nav
            li.nav-item.dropdown
              a#navbarWelcome.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Home
              .dropdown-menu(aria-labelledby='navbarWelcome')
                a.dropdown-item(href='index')
                  | Home-1
                a.dropdown-item(href='index-2')
                  | Home-2
                a.dropdown-item(href='index-3')
                  | Home-3
            li.nav-item
              a.nav-link.smoth-scroll(href='about') About
            li.nav-item
              a.nav-link.smoth-scroll(href='service') Service
            li.nav-item
              a.nav-link.smoth-scroll(href='pricing') Pricing
            li.nav-item
              a.nav-link.smoth-scroll(href='blog') Blog
            li.nav-item
              a.nav-link.smoth-scroll(href='contact') Contact
    // MAIN HEADER AREA END
    // MAIN BANNER AREA START
    #page-banner.page-banner-area.page-about
      .overlay.dark-overlay
      .container
        .row.justify-content-center
          .col-lg-8.m-auto.text-center.col-sm-12.col-md-12
            .banner-content.content-padding
              h1.text-white Check our story
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, perferendis?
    // MAIN HEADER AREA END
    // SERVICE AREA START
    section.section-padding
      .container
        .row.align-items-center
          .col-lg-6.col-sm-12.col-md-8.mb-4
            h3.mb-3
              | We’re Innovators & 
              br
              | SEO Marketing Agency
            p.mb-4
              | We provide marketing services to startups and small businesses to looking for a partner for their digital media, design-dev, lead generation
            span.h5.mb-4 Let's Check what we do actually :
            ul.about-list2.my-4
              li.mb-2
                i.icofont.icofont-check-circled
                |  Best Analytics Audits to your site in specific niche
              li.mb-2
                i.icofont.icofont-check-circled  
                |  Modern Keyword Analysis to keep up to date
              li.mb-2
                i.icofont.icofont-check-circled  
                |  More quality content, social networking and relative sharing
              li.mb-2
                i.icofont.icofont-check-circled  
                |  Social networking and relative sharing More quality content,
            a.mt-3.d-inline-block(href='#')
              | Learn more about us 
              i.fa.fa-angle-right
          .col-lg-6.col-md-4
            img.img-fluid.w-100(src='assets/img/about/about-4.jpg', alt='')
    // ABOUT AREA END
    // HISTORY AREA
    section.section-padding.pt-0
      .container
        .row
          .col-lg-6
            .media.img-block.mb-3.mb-lg-0
              img.img-fluid.rounded.mr-3(src='assets/img/about/h-1.jpg', alt='')
              .media-body
                h4.mb-3 Provide services with maintain quality from 24 years!
                p We provide marketing services to startups.Let's start your site in grow high.
          .col-lg-6
            .media.img-block
              img.img-fluid.rounded.mr-3(src='assets/img/about/h-2.jpg', alt='')
              .media-body
                h4.mb-3 Our mission is to provide our client what they need!
                p We provide small businesses looking for a partner for their digital media
    // HISTORY AREA END
    // COUNTER AREA
    section.section-padding.pt-0
      .container
        .row
          .col-lg-3.col-md-6
            .text-center.border.p-4.rounded.mb-4
              span.counter.text-dark.font-weight-normal 460
              h5.text-uppercase.mt-2 Our Happy Clients
          .col-lg-3.col-md-6
            .text-center.border.p-4.rounded.mb-4
              span.counter.text-dark.font-weight-normal 60
              h5.text-uppercase.mt-2 Projects Done
          .col-lg-3.col-md-6
            .text-center.border.p-4.rounded.mb-4
              span.counter.text-dark.font-weight-normal 30
              h5.text-uppercase.mt-2 Experienced stuff
          .col-lg-3.col-md-6
            .text-center.border.p-4.rounded
              span.counter.text-dark.font-weight-normal 25
              h5.text-uppercase.mt-2 Ongoning Projects
    // COUNTER AREA END
    // SECTION CTA START
    section#section-strategy.section-padding
      .container
        .row
          .col-lg-8
            .row
              .col-lg-6
                .mb-5
                  span.icon-3x.text-default
                    i.icofont.icofont-layers
                  h4.my-3 Be on the top of Google
                  p
                    | Capitalize on low hanging fruit to identify a ballpark value added activity to beta test.
              .col-lg-6
                .mb-5
                  span.icon-3x.text-default
                    i.icofont.icofont-time
                  h4.my-3 Save your time
                  p
                    | Override the digital divide with additional clickthroughs from DevOps. Nanotechnology
              .col-lg-6
                div
                  span.icon-3x.text-default
                    i.icofont.icofont-ui-browser
                  h4.my-3 Cross-devices ability
                  p
                    | Capitalize on low hanging fruit to identify a ballpark value added activity to beta test.
              .col-lg-6
                div
                  span.icon-3x.text-default
                    i.icofont.icofont-shield
                  h4.my-3 Trusted by hundreds
                  p
                    | Override the digital divide with additional clickthroughs from DevOps. Nanotechnology
    // SECTION CTA END
    // SECTION TEAM
    section.section-padding.bg-gray
      .container
        .row
          .col-lg-8
            .mb-5
              h3.mb-2 Our Expert Members do the magical
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, dignissimos?
        .row
          .col-lg-3.col-md-6
            img.img-fluid.rounded.w-100(src='assets/img/team/team-1.jpg', alt='')
            ul.list-unstyled.list-inline.team-social.mt-4
              li.list-inline-item
                a(href='#')
                  i.fab.fa-facebook-f
              li.list-inline-item
                a(href='#')
                  i.fab.fa-twitter
              li.list-inline-item
                a(href='#')
                  i.fab.fa-pinterest
              li.list-inline-item
                a(href='#')
                  i.fab.fa-linkedin
              li.list-inline-item
                a(href='#')
                  i.fab.fa-google-plus
            h4.mt-3 Michale John
            p Senior Manager
          .col-lg-3.col-md-6
            img.img-fluid.rounded.w-100(src='assets/img/team/team-2.jpg', alt='')
            ul.list-unstyled.list-inline.team-social.mt-4
              li.list-inline-item
                a(href='#')
                  i.fab.fa-facebook-f
              li.list-inline-item
                a(href='#')
                  i.fab.fa-twitter
              li.list-inline-item
                a(href='#')
                  i.fab.fa-pinterest
              li.list-inline-item
                a(href='#')
                  i.fab.fa-linkedin
              li.list-inline-item
                a(href='#')
                  i.fab.fa-google-plus
            h4.mt-3 Michale John
            p Marketing Manager
          .col-lg-3.col-md-6
            img.img-fluid.rounded.w-100(src='assets/img/team/team-3.jpg', alt='')
            ul.list-unstyled.list-inline.team-social.mt-4
              li.list-inline-item
                a(href='#')
                  i.fab.fa-facebook-f
              li.list-inline-item
                a(href='#')
                  i.fab.fa-twitter
              li.list-inline-item
                a(href='#')
                  i.fab.fa-pinterest
              li.list-inline-item
                a(href='#')
                  i.fab.fa-linkedin
              li.list-inline-item
                a(href='#')
                  i.fab.fa-google-plus
            h4.mt-3 Michale John
            p Marketing Manager
          .col-lg-3.col-md-6
            img.img-fluid.rounded.w-100(src='assets/img/team/team-4.jpg', alt='')
            ul.list-unstyled.list-inline.team-social.mt-4
              li.list-inline-item
                a(href='#')
                  i.fab.fa-facebook-f
              li.list-inline-item
                a(href='#')
                  i.fab.fa-twitter
              li.list-inline-item
                a(href='#')
                  i.fab.fa-pinterest
              li.list-inline-item
                a(href='#')
                  i.fab.fa-linkedin
              li.list-inline-item
                a(href='#')
                  i.fab.fa-google-plus
            h4.mt-3 Michale John
            p Junior Developer
    // SECTION TEAM END
    // PARTNER START
    section.section-padding
      .container
        .row
          .col-lg-8.text-center.text-lg-left
            .mb-5
              h3.mb-2 Trusted by hundred over years
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, dignissimos?
        .row
          .col-lg-3.col-sm-6.col-md-3.text-center
            img.img-fluid(src='assets/img/clients/client01.png', alt='partner')
          .col-lg-3.col-sm-6.col-md-3.text-center
            img.img-fluid(src='assets/img/clients/client06.png', alt='partner')
          .col-lg-3.col-sm-6.col-md-3.text-center
            img.img-fluid(src='assets/img/clients/client04.png', alt='partner')
          .col-lg-3.col-sm-6.col-md-3.text-center
            img.img-fluid(src='assets/img/clients/client05.png', alt='partner')
    // PARTNER END
    // FOOTER AREA START
    section#footer.section-padding
      .container
        .row
          .col-lg-5.col-sm-8.col-md-8
            .footer-widget.footer-link
              h4
                | We concern about you
                br
                |  to grow business rapidly.
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ipsam hic non sunt recusandae atque unde saepe nihil earum voluptatibus aliquid optio suscipit nobis quia excepturi vel quod, iure quae.
          .col-lg-2.col-sm-4.col-md-4
            .footer-widget.footer-link
              h4 About
              ul
                li
                  a(href='#') About
                li
                  a(href='#') Service
                li
                  a(href='#') Pricing
                li
                  a(href='#') Team
                li
                  a(href='#') Testimonials
                li
                  a(href='#') Blog
          .col-lg-2.col-sm-6.col-md-6
            .footer-widget.footer-link
              h4 Quick Links
              ul
                li
                  a(href='#') How it Works
                li
                  a(href='#') Support
                li
                  a(href='#') Privacy Policy
                li
                  a(href='#') Report Bug
                li
                  a(href='#') License
                li
                  a(href='#') Terms & Condition
          .col-lg-3.col-sm-6.col-md-6
            .footer-widget.footer-text
              h4 Our location
              p.mail
                span Mail:
                |  promdise@gmail.com
              p
                span Phone :
                | +202-277-3894
              p
                span Location:
                |  455 West Orchard Street Kings Mountain, NC 28086,NOC building
        .row
          .col-lg-12.text-center
            .footer-copy
              | © 2018 Promodise inc. All Rights Reserved.
    // FOOTER AREA END
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='assets/js/jquery.min.js')
    // contact form
    script(src='assets/js/contact.js')
    script(src='assets/bootstrap/js/popper.min.js')
    script(src='assets/bootstrap/js/bootstrap.min.js')
    // Counter up
    script(src='assets/js/jquery.waypoints.js')
    script(src='assets/js/jquery.counterup.min.js')
    script(src='assets/js/jquery.easing.1.3.js')
    // wow animation
    script(src='assets/js/wow.min.js')
    script(src='assets/js/custom.js')
