doctype html
html(lang='zxx')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='seo & digital marketing')
    meta(name='keywords', content='marketing,digital marketing,creative, agency, startup,promodise,onepage, clean, modern,seo,business, company')
    meta(name='author', content='dreambuzz')
    // Bootstrap CSS
    link(rel='stylesheet', href='assets/bootstrap/css/bootstrap.css', type='text/css')
    // Icon Font css
    link(rel='stylesheet', href='assets/fonts/flaticon/flaticon.css', type='text/css')
    // FONT AWESOME ICON
    link(rel='stylesheet', href='assets/css/all.css', type='text/css')
    link(rel='stylesheet', href='assets/css/icofont.css', type='text/css')
    // Animate STYLE
    link(rel='stylesheet', href='assets/css/animate.min.css', type='text/css')
    // Theme CUSTOM STYLE
    link(rel='stylesheet', href='assets/css/style.css', type='text/css')
    // RESPONSIVE STYLE
    link(rel='stylesheet', href='assets/css/responsive.css', type='text/css')
    title Promodise - seo and digital marketing solution 
  body(data-spy='scroll', data-target='.fixed-top')
    nav.navbar.navbar-expand-lg.fixed-top.trans-navigation
      .container
        a.navbar-brand(href='index')
          img.img-fluid.b-logo(src='assets/img/logo.png', alt='')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#mainNav', aria-controls='mainNav', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
            i.fa.fa-bars
        #mainNav.collapse.navbar-collapse.justify-content-end
          ul.navbar-nav
            li.nav-item.dropdown
              a#navbarWelcome.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Home
              .dropdown-menu(aria-labelledby='navbarWelcome')
                a.dropdown-item(href='index')
                  | Home-1
                a.dropdown-item(href='index-2')
                  | Home-2
                a.dropdown-item(href='index-3')
                  | Home-3
            li.nav-item
              a.nav-link.smoth-scroll(href='about') About
            li.nav-item
              a.nav-link.smoth-scroll(href='service') Service
            li.nav-item
              a.nav-link.smoth-scroll(href='pricing') Pricing
            li.nav-item
              a.nav-link.smoth-scroll(href='blog') Blog
            li.nav-item
              a.nav-link.smoth-scroll(href='contact') Contact
    // MAIN HEADER AREA END
    // MAIN BANNER AREA START
    #page-banner.page-banner-area.page-blog
      .overlay.dark-overlay
      .container
        .row.justify-content-center
          .col-lg-8.m-auto.text-center.col-sm-12.col-md-12
            .banner-content.content-padding
              h1.banner-title Blog Details
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, perferendis?
    // MAIN HEADER AREA END
    // Blog AREA START
    section.section-padding
      .container
        .row
          .col-lg-8
            .row
              .col-lg-12
                .blog-post
                  img.img-fluid(src='assets/img/blog/blog-lg.jpg', alt='')
                  .mt-4.mb-3.d-flex
                    .post-author.mr-3
                      i.fa.fa-user
                      span.h6.text-uppercase John mackel
                    .post-info
                      i.fa.fa-calendar-check
                      span 19 jun 18
                  a.h4(href='#') Grow your site with latest startegy
                  p.mt-3
                    | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, aliquid perspiciatis voluptate voluptatibus, dolorem laboriosam deleniti dolores reprehenderit nostrum odit, fuga iusto perferendis quas suscipit corporis obcaecati maxime provident cumque!
                  p
                    | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veri.
                  blockquote.quote
                    i.fa.fa-quote-left
                    |                                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam nobis, molestias ipsam assumenda debitis quibusdam mollitia laudantium facere neque quas optio sequi eligendi recusandae, veritatis dicta asperiores ex fugiat quasi!
                  p
                    | Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                  .mt-5.mb-3
                    h5.d-inline-block.mr-3 Tags:
                    ul.list-inline.d-inline-block
                      li.list-inline-item
                        a(href='#') Agency
                        | ,
                      li.list-inline-item
                        a(href='#') Marketing
                        | ,
                      li.list-inline-item
                        a(href='#') Business
                  .my-4
                    h5.d-inline-block.mr-3 Share Now:
                    ul.list-inline.d-inline-block
                      li.list-inline-item
                        a(href='#')
                          i.fab.fa-facebook
                      li.list-inline-item
                        a(href='#')
                          i.fab.fa-twitter
                      li.list-inline-item
                        a(href='#')
                          i.fab.fa-pinterest
                      li.list-inline-item
                        a(href='#')
                          i.fab.fa-linkedin
                .comments.my-4
                  h3.mb-5 Comments :
                  .media.mb-4
                    img.img-fluid.d-flex.mr-4.rounded(src='assets/img/blog/2.jpg', alt='')
                    .media-body
                      h5 John michele
                      span.text-muted 20 Jan 2018
                      p.mt-2
                        | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi laborum dolores quidem ea optio fuga nesciunt tempora, in tenetur iusto!
                      a.reply(href='#')
                        | Reply 
                        i.fa.fa-reply
                      .media.mt-5
                        img.img-fluid.d-flex.mr-4.rounded(src='assets/img/blog/2.jpg', alt='')
                        .media-body
                          h5 John michele
                          span.text-muted 20 Jan 2018
                          p.mt-2
                            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi laborum dolores quidem ea optio fuga nesciunt tempora, in tenetur iusto!
                          a.reply(href='#')
                            | Reply 
                            i.fa.fa-reply
                  .media.mb-4
                    img.img-fluid.d-flex.mr-4.rounded(src='assets/img/blog/2.jpg', alt='')
                    .media-body
                      h5 John michele
                      span.text-muted 20 Jan 2018
                      p.mt-2
                        | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi laborum dolores quidem ea optio fuga nesciunt tempora, in tenetur iusto!
                      a.reply(href='#')
                        | Reply 
                        i.fa.fa-reply
                .mt-5.mb-3
                  h3.mt-5.mb-2 Leave a comment
                  p.mb-4 We don't spam at your inbox.
                  form.row(action='#')
                    .col-lg-12
                      .form-group.mb-3
                        textarea.form-control(cols='30', rows='6', placeholder='Message')
                    .col-lg-6
                      .form-group.mb-3
                        input.form-control(type='text', placeholder='Name')
                    .col-lg-6
                      .form-group.mb-4
                        input.form-control(type='email', placeholder='Email')
                    .col-lg-12
                      a.btn.btn-hero.btn-circled(href='#') Send a message
          // BlOG SIDEBAR
          .col-lg-4
            .row
              .col-lg-12
                .sidebar-widget.search
                  .form-group
                    input.form-control(type='text', placeholder='search')
                    i.fa.fa-search
              .col-lg-12
                .sidebar-widget.about-bar
                  h5.mb-3 About us
                  p
                    | Nostrum ullam porro iusto. Fugit eveniet sapiente nobis nesciunt velit cum fuga doloremque dignissimos asperiores
              .col-lg-12
                .sidebar-widget.category
                  h5.mb-3 Category
                  ul.list-styled
                    li Marketing
                    li Digiatl
                    li SEO
                    li Web Design
                    li Development
                    li video
                    li audio
                    li slider
              .col-lg-12
                .sidebar-widget.tag
                  a(href='#') web
                  a(href='#') development
                  a(href='#') seo
                  a(href='#') marketing
                  a(href='#') branding
                  a(href='#') web deisgn
                  a(href='#') Tutorial
                  a(href='#') Tips
                  a(href='#') Design trend
              .col-lg-12
                .sidebar-widget.download
                  h5.mb-4 Download Files
                  a(href='#')
                    i.fa.fa-file-pdf
                    | Company Manual
                  a(href='#')
                    i.fa.fa-file-pdf
                    | Company Profile
    // Blog AREA End
    // FOOTER AREA START
    section#footer.section-padding
      .container
        .row
          .col-lg-5.col-sm-8.col-md-8
            .footer-widget.footer-link
              h4
                | We concern about you
                br
                |  to grow business rapidly.
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ipsam hic non sunt recusandae atque unde saepe nihil earum voluptatibus aliquid optio suscipit nobis quia excepturi vel quod, iure quae.
          .col-lg-2.col-sm-4.col-md-4
            .footer-widget.footer-link
              h4 About
              ul
                li
                  a(href='#') About
                li
                  a(href='#') Service
                li
                  a(href='#') Pricing
                li
                  a(href='#') Team
                li
                  a(href='#') Testimonials
                li
                  a(href='#') Blog
          .col-lg-2.col-sm-6.col-md-6
            .footer-widget.footer-link
              h4 Quick Links
              ul
                li
                  a(href='#') How it Works
                li
                  a(href='#') Support
                li
                  a(href='#') Privacy Policy
                li
                  a(href='#') Report Bug
                li
                  a(href='#') License
                li
                  a(href='#') Terms & Condition
          .col-lg-3.col-sm-6.col-md-6
            .footer-widget.footer-text
              h4 Our location
              p.mail
                span Mail:
                |  promdise@gmail.com
              p
                span Phone :
                | +202-277-3894
              p
                span Location:
                |  455 West Orchard Street Kings Mountain, NC 28086,NOC building
        .row
          .col-lg-12.text-center
            .footer-copy
              | © 2018 Promodise inc. All Rights Reserved.
    // FOOTER AREA END
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='assets/js/jquery.min.js')
    // contact form
    script(src='assets/js/contact.js')
    script(src='assets/bootstrap/js/popper.min.js')
    script(src='assets/bootstrap/js/bootstrap.min.js')
    // Counter up
    script(src='assets/js/jquery.waypoints.js')
    script(src='assets/js/jquery.counterup.min.js')
    script(src='assets/js/jquery.easing.1.3.js')
    // wow animation
    script(src='assets/js/wow.min.js')
    script(src='assets/js/custom.js')
