doctype html
html(lang='zxx')
	head
		// Required meta tags
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='seo & digital marketing')
		meta(name='keywords', content='marketing,digital marketing,creative, agency, startup,promodise,onepage, clean, modern,seo,business, company')
		meta(name='author', content='dreambuzz')
		// Bootstrap CSS
		link(rel='stylesheet', href='assets/bootstrap/css/bootstrap.css', type='text/css')
		// Icon Font css
		link(rel='stylesheet', href='assets/fonts/flaticon/flaticon.css', type='text/css')
		// FONT AWESOME ICON
		link(rel='stylesheet', href='assets/css/all.css', type='text/css')
		link(rel='stylesheet', href='assets/css/icofont.css', type='text/css')
		// Animate STYLE
		link(rel='stylesheet', href='assets/css/animate.min.css', type='text/css')
		// Theme CUSTOM STYLE
		link(rel='stylesheet', href='assets/css/style.css', type='text/css')
		// RESPONSIVE STYLE
		link(rel='stylesheet', href='assets/css/responsive.css', type='text/css')
		title Frontier Labs
	body(data-spy='scroll', data-target='.fixed-top')
		nav.navbar.navbar-expand-lg.fixed-top.trans-navigation
			.container
				a.scaler.navbar-brand(href='index')
					h1.scaler(style="font-family: 'HelveticaNowDisplay'; letter-spacing: 0.7rem; line-height: 5rem;") FRONTIER LABS 
				button.navbar-toggler(type='button', data-toggle='collapse', data-target='#mainNav', aria-controls='mainNav', aria-expanded='false', aria-label='Toggle navigation')
					span.navbar-toggler-icon
						i.fa.fa-bars
				#mainNav.collapse.navbar-collapse.justify-content-end
					ul.navbar-nav
						li.nav-item
							a.nav-link.active.smoth-scroll(href='.banner-area')
								| Home 
								span.sr-only (current)
						li.nav-item
							a.nav-link.smoth-scroll(href='#intro') Benefits
						li.nav-item
							a.nav-link.smoth-scroll(href='#about') About
						li.nav-item
							a.nav-link.smoth-scroll(href='#service') Service
						li.nav-item
							a.nav-link.smoth-scroll(href='#pricing') Pricing
						li.nav-item
							a.nav-link.smoth-scroll(href='#blog') Blog
						li.nav-item
							a.nav-link.smoth-scroll(href='#contact') Contact
		// MAIN HEADER AREA END
		// MAIN BANNER AREA STARt
		.banner-area.banner-1
			.overlay.gr-overlay
			.d-table
				.d-table-cell
					.container
						.row
							.col-lg-8.m-auto.text-center.col-sm-12.col-md-12
								.banner-content.content-padding
									h1.banner-title P E G A
									p
										| The essential toolset for all radiologists powered by next-gen neural networks
		// MAIN HEADER AREA END
		// ABOUT AREA START
		section#intro.section-padding
			.container-fluid
				.row
					.col-lg-12.col-sm-12.col-md-12
						.section-heading
							p.lead
								| Pega comprises of software tools that use AI algorithms tailormade for aiding in cancer diagnosing.
				.row
					.col-lg-5.d-none.d-lg-block.col-sm-12(style="padding-left: 0px !important;")
						.intro-img
							img.img-fluid(src='assets/img/banner/why-choose.jpg', alt='intro-img')
					.col-lg-7.col-md-12.col-sm-12.align-self-center
						.row
							.col-lg-6.col-sm-6.col-md-6
								.intro-box
									span 01.
									h4 Algorithms
									p PEGA uses deep neural networks that are exhaustively tested to acheive accurate and reliable predictions across the board.
							.col-lg-6.col-sm-6.col-md-6
								.intro-box
									span 02.
									h4 Universal
									p We are available everywhere there is an internet connection. All of our services use lossless compression.
							.col-lg-6.col-sm-6.col-md-6
								.intro-box
									span 03.
									h4 High Availability
									p Whenever you need us, we're there. You can rest assured our servers are primed and ready. 24/7/365.
							.col-lg-6.col-sm-6.col-md-6
								.intro-box
									span 04.
									h4 Support
									p Reachout to us through the contact section regarding any query, we'll make sure to get back to you at the earliest.
		// ABOUT AREA END
		// SERVICE AREA START
		section#about.bg-light
			.container
				.row
					.col-lg-7.col-sm-12.col-md-8
						.about-content
							h4.subtitle About us
							h3 We are a team that is committed to your success as a practitioner.
							p
								| We make the 'expensive services' economically viable and simultaneously provide you with the most accurate results possible. We in collaboration with our partners, aim to be present everywhere. We constantly seek to improve our system's accuracy by learning from real data accumulated through use in the field.
							ul.about-list
								li
									i.icofont.icofont-check-circled
									|  Responsive Unit
								li
									i.icofont.icofont-check-circled  
									|  Tested Algorithms
								li
									i.icofont.icofont-check-circled  
									|  Trained Professionals
								li
									i.icofont.icofont-check-circled  
									|  Best Value for Money
								li
									i.icofont.icofont-check-circled  
									|  Premium Services and Support
								li
									i.icofont.icofont-check-circled
									|  Accurate Results
		// SERVICE AREA END
		// SERVICE PARTNER START
		section#service-head.bg-feature
			.container
				.row
					.col-lg-12.col-sm-12.m-auto
						.section-heading.text-white
							h4.section-title Available Services
							p We aim to provide the most accurate results in our services. Our systems provide our vision grounding in reality.
		// SERVICE PARTNER END
		// SERVICE AREA START
		section#service
			.container
				.row
					.col-lg-4.col-sm-6.col-md-6
						.service-box
							.service-img-icon
								img.img-fluid(src='assets/img/icon/circle-lungs.png', alt='service-icon')
							.service-inner
								h4 PEGA Pulmonary
								p Get clear annotations of the tumours in pulmonary CT scans. Speed up your workflow by cutting out the tedious process of pouring over scans, and spend your valuable time with patients.
					.col-lg-4.col-sm-6.col-md-6
						.service-box
							.service-img-icon
								img.img-fluid(src='assets/img/icon/circle-prostate.png', alt='service-icon')
							.service-inner
								h4 PEGA Prostate
								p PEGA is capable of detecting tumours in prostate MRI scans in very early stages. Use PEGA to your advantage and provide your patients with the best healthcare possible today.
					.col-lg-4.col-sm-6.col-md-6
						.service-box
							.service-img-icon
								img.img-fluid(src='assets/img/icon/circle-brain.png', alt='service-icon')
							.service-inner
								h4 PEGA Neura
								p Brain cancer accounts for approximately 90% of all Central Nervous System cancers. The use of PEGA can lead to the discovery of tumours that may go unnoticed and result in life-saving results.
		// SERVICE AREA END
		// PRICE AREA START
		section#pricing.section-padding.bg-main
			.container
				.row
					.col-lg-12.col-sm-12.m-auto
						.section-heading
							h4.section-title Affordable pricing plans for your hospital
							p
								| We have multiple pricing models to fit anywhere from international healthcare facilities all the way down neighborhood clinics.
				.row
					.col-lg-4.col-sm-6
						.pricing-block
							.price-header
								i.flaticon-start
								h4.price
									small ₹
									| 30,000
								br
								h5 + 1000 Per Scan
								h5 Monthly
							.line
							ul
								li The safest option for small scale clinics. Opt in and out of this model without any judgment. Full time support is provided, applicable for all models.
							a.btn.btn-hero.btn-circled(href='#') select plan
					.col-lg-4.col-sm-6
						.pricing-block
							.price-header
								i.flaticon-value
								h4.price
									small ₹
									| 50,000
								br
								h5 + 1000 Per Scan
								h5 Monthly
							.line
							ul
								li More suitable for larger hospitals. This model includes multiple benefits including archives of all your scans indexed by patient.
							a.btn.btn-hero.btn-circled(href='#') select plan
					.col-lg-4.col-sm-6
						.pricing-block
							.price-header
								i.flaticon-idea
								h4.price
									small ₹
									| 0
								br
								h5 Insider's Edition
								h5 Indefinite
							.line
							ul
								li Get a first look at our cutting edge technology by signing up for the Insider's Edition. As is the case with most alpha and beta releases, this is prone to bugs.
							a.btn.btn-hero.btn-circled(href='#') select plan
		// PRICE AREA END
		//- // TESTIMONIAL AREA START
		//- section#testimonial.section-padding
		//- 	.container
		//- 		.row
		//- 			.col-lg-8.m-auto.col-sm-12.col-md-12
		//- 				#test-carousel2.carousel.slide
		//- 					.carousel-inner
		//- 						ol.carousel-indicators
		//- 							li.active(data-target='#test-carousel2', data-slide-to='0')
		//- 							li(data-target='#test-carousel2', data-slide-to='1')
		//- 							li(data-target='#test-carousel2', data-slide-to='2')
		//- 						.carousel-item.active
		//- 							.row
		//- 								.col-lg-12.col-sm-12
		//- 									.testimonial-content.style-2
		//- 										.author-info
		//- 											.author-img
		//- 												img.img-fluid(src='assets/img/author/3b.jpg', alt='')
		//- 										p
		//- 											i.icofont.icofont-quote-left
		//- 											| WE ARE THE BEST
		//- 											i.icofont.icofont-quote-right
		//- 										.author-text
		//- 											h5 ACHUTH RAJULA
		//- 											p  
		//- 						.carousel-item
		//- 							.row
		//- 								.col-lg-12.col-sm-12
		//- 									.testimonial-content.style-2
		//- 										.author-info
		//- 											.author-img
		//- 												img.img-fluid(src='assets/img/author/5b.jpg', alt='')
		//- 										p
		//- 											i.icofont.icofont-quote-left
		//- 											| They is a great platform to anyone like who want to start buisiness but not get right decision. It’s really great placefor new to start the buisness in righ way! 
		//- 											i.icofont.icofont-quote-right
		//- 										.author-text
		//- 											h5 Marine Joshi
		//- 											p Senior designer
		//- 						// ITEM END
		//- 						.carousel-item
		//- 							.row
		//- 								.col-lg-12.col-sm-12
		//- 									.testimonial-content.style-2
		//- 										.author-info
		//- 											.author-img
		//- 												img.img-fluid(src='assets/img/author/3b.jpg', alt='')
		//- 										p
		//- 											i.icofont.icofont-quote-left
		//- 											| They is a great platform to anyone like who want to start buisiness but not get right decision. It’s really great placefor new to start the buisness in righ way!
		//- 											i.icofont.icofont-quote-right
		//- 										.author-text
		//- 											h5 Marine Joshi
		//- 											p Senior designer
		//- 						// ITEM END

		//- // TESTIMONIAL AREA END
		//- // PARTNER START
		//- section#clients.section-padding
		//- 	.container
		//- 		.row
		//- 			.col-lg-3.col-sm-6.col-md-3.text-center
		//- 				.client-img
		//- 					img.img-fluid(src='assets/img/clients/client01.png', alt='partner')
		//- 			.col-lg-3.col-sm-6.col-md-3.text-center
		//- 				.client-img
		//- 					img.img-fluid(src='assets/img/clients/client06.png', alt='partner')
		//- 			.col-lg-3.col-sm-6.col-md-3.text-center
		//- 				.client-img
		//- 					img.img-fluid(src='assets/img/clients/client04.png', alt='partner')
		//- 			.col-lg-3.col-sm-6.col-md-3.text-center
		//- 				.client-img
		//- 					img.img-fluid(src='assets/img/clients/client05.png', alt='partner')
		//- // PARTNER END
		//- // BLOG AREA START
		//- section#blog.section-padding.bg-main
		//- 	.container
		//- 		.row
		//- 			.col-lg-12.col-sm-12.m-auto
		//- 				.section-heading
		//- 					h4.section-title Latest Blog news
		//- 					.line
		//- 					p
		//- 						| Our blog journey may come handy to build a community to make more effective success for business. Latest and trend tricks will help a lot
		//- 		.row
		//- 			.col-lg-4.col-sm-6.col-md-4
		//- 				.blog-block
		//- 					img.img-fluid(src='assets/img/blog/blog-1.jpg', alt='')
		//- 					.blog-text
		//- 						h6.author-name
		//- 						p CONTENT.
		//- 			.col-sm-4
		//- 				.blog-block
		//- 					img.img-fluid(src='assets/img/blog/blog-2.jpg', alt='')
		//- 					.blog-text
		//- 						h6.author-name
		//- 						p CONTENT.
		//- 			.col-sm-4
		//- 				.blog-block
		//- 					img.img-fluid(src='assets/img/blog/blog-3.jpg', alt='')
		//- 					.blog-text
		//- 						h6.author-name
		//- 						p CONTENT.
		//- // BLOG AREA END
		// CONTACT START
		section#contact.section-padding
			.container
				.row
					.col-lg-12.col-sm-12.col-mfd-12
						.section-heading
							h4.section-title Get in touch
							p
								| Have a question about our services? Don't hesitate to get in touch! We'll get back to you as soon as possible.
				.row
					.col-lg-8.col-sm-12.m-auto
						.contact-form
							form.contact__form(method='post', action='')
								// form message
								.row
									.col-12
										.alert.alert-success.contact__msg(style='display: none;', role='alert') Your message was sent successfully.
								// end message
								.row
									.col-md-6.form-group
										input.form-control(name='name', type='text', placeholder='Name', required='')
									.col-md-6.form-group
										input.form-control(name='email', type='email', placeholder='Email', required='')
									.col-md-12.form-group
										input.form-control(name='subject', type='text', placeholder='Subject', required='')
									.col-12.form-group
										textarea.form-control(name='message', rows='6', placeholder='Message', required='')
									.col-12.text-center
										input.btn.btn-hero.btn-circled(name='submit', type='submit', value='Send Message')
		// CONTACT END
		//- // COUNTER AREA START
		//- section#counter.section-padding
		//- 	.overlay.dark-overlay
		//- 	.container
		//- 		.row
		//- 			.col-lg-3.col-sm-6.col-md-6
		//- 				.counter-stat
		//- 					i.icofont.icofont-heart
		//- 					span.counter 460
		//- 					h5 Our Happy Clients
		//- 			.col-lg-3.col-sm-6.col-md-6
		//- 				.counter-stat
		//- 					i.icofont.icofont-rocket
		//- 					span.counter 60
		//- 					h5 Total Bookings
		//- 			.col-lg-3.col-sm-6.col-md-6
		//- 				.counter-stat
		//- 					i.icofont.icofont-hand-power
		//- 					span.counter 30
		//- 					h5 Our team
		//- 			.col-lg-3.col-sm-6.col-md-6
		//- 				.counter-stat
		//- 					i.icofont.icofont-shield-alt
		//- 					span.counter 25
		//- 					h5 Active Bookings
		//- // COUNTER AREA END
		// FOOTER AREA START
		section#footer.section-padding
			.container
				.row
					.col-lg-6.col-sm-8.col-md-8
						.footer-widget.footer-link
							h4 We're always up for a chat
							p For any questions related to the services we provide or pricing models, use the contact form above. For everthing else, drop us an email and we'll get back to you within two business days.
					.col-lg-6.col-sm-6.col-md-6
						.footer-widget.footer-text
							h4 Contact Us
							p.mail
								span Mail:
								|  frontierlabs@gmail.com
							p
								span Phone :
								| +91 xxxxxxxxxx
							//- p
							//- 	span Location:
							//- 	|  Hyd
				//- .row
				//- 	.col-lg-6.col-sm-6.col-md-6
				//- 		.footer-widget.footer-link
				//- 			h5 Quick Links
				//- 			hr(align='left', width='32%')
				//- 			ul
				//- 				li
				//- 					a(href='#') How it Works
				//- 				li
				//- 					a(href='#') Support
				//- 				li
				//- 					a(href='#') Privacy Policy
				//- 				li
				//- 					a(href='#') Report Bug
				//- 				li
				//- 					a(href='#') License
				//- 				li
				//- 					a(href='#') Terms & Condition
				//- 	.col-lg-6.col-sm-6.col-md-6
				//- 		.footer-widget.footer-link
				//- 			h5 About
				//- 			hr(align='left', width='20%')
				//- 			ul
				//- 				li
				//- 					a(href='#') About
				//- 				li
				//- 					a(href='#') Service
				//- 				li
				//- 					a(href='#') Pricing
				//- 				li
				//- 					a(href='#') Team
				//- 				li
				//- 					a(href='#') Testimonials
				//- 				li
				//- 					a(href='#') Blog
				.row
					.col-lg-12.text-center
						.footer-copy © 2019 Frontier Labs Private Limited. All Rights Reserved.

		// FOOTER AREA END
		// Optional JavaScript
		// jQuery first, then Popper.js, then Bootstrap JS
		script(src='assets/js/jquery.min.js')
		// contact form
		script(src='assets/js/contact.js')
		script(src='assets/bootstrap/js/popper.min.js')
		script(src='assets/bootstrap/js/bootstrap.min.js')
		// Counter up
		script(src='assets/js/jquery.waypoints.js')
		script(src='assets/js/jquery.counterup.min.js')
		script(src='assets/js/jquery.easing.1.3.js')
		// wow animation
		script(src='assets/js/wow.min.js')
		script(src='assets/js/custom.js')
