doctype html
html(lang='zxx')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='seo & digital marketing')
    meta(name='keywords', content='marketing,digital marketing,creative, agency, startup,promodise,onepage, clean, modern,seo,business, company')
    meta(name='author', content='dreambuzz')
    // Bootstrap CSS
    link(rel='stylesheet', href='assets/bootstrap/css/bootstrap.css', type='text/css')
    // Icon Font css
    link(rel='stylesheet', href='assets/fonts/flaticon/flaticon.css', type='text/css')
    // FONT AWESOME ICON
    link(rel='stylesheet', href='assets/css/all.css', type='text/css')
    link(rel='stylesheet', href='assets/css/icofont.css', type='text/css')
    // Animate STYLE
    link(rel='stylesheet', href='assets/css/animate.min.css', type='text/css')
    // Theme CUSTOM STYLE
    link(rel='stylesheet', href='assets/css/style.css', type='text/css')
    // RESPONSIVE STYLE
    link(rel='stylesheet', href='assets/css/responsive.css', type='text/css')
    title Promodise - seo and digital marketing solution 
  body(data-spy='scroll', data-target='.fixed-top')
    nav.navbar.navbar-expand-lg.fixed-top.trans-navigation
      .container
        a.navbar-brand(href='index')
          img.img-fluid.b-logo(src='assets/img/logo.png', alt='')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#mainNav', aria-controls='mainNav', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
            i.fa.fa-bars
        #mainNav.collapse.navbar-collapse.justify-content-end
          ul.navbar-nav
            li.nav-item.dropdown
              a#navbarWelcome.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Home
              .dropdown-menu(aria-labelledby='navbarWelcome')
                a.dropdown-item(href='index')
                  | Home-1
                a.dropdown-item(href='index-2')
                  | Home-2
                a.dropdown-item(href='index-3')
                  | Home-3
            li.nav-item
              a.nav-link.smoth-scroll(href='about') About
            li.nav-item
              a.nav-link.smoth-scroll(href='service') Service
            li.nav-item
              a.nav-link.smoth-scroll(href='pricing') Pricing
            li.nav-item
              a.nav-link.smoth-scroll(href='blog') Blog
            li.nav-item
              a.nav-link.smoth-scroll(href='contact') Contact
    // MAIN HEADER AREA END
    // MAIN BANNER AREA START
    #page-banner.page-banner-area.page-pricing
      .overlay.dark-overlay
      .container
        .row.justify-content-center
          .col-lg-8.m-auto.text-center.col-sm-12.col-md-12
            .banner-content.content-padding
              h1.banner-title Standard Price plan
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, perferendis?
    // MAIN HEADER AREA END
    // PRICE AREA START
    section.section-padding
      .container
        .row
          .col-lg-12.col-sm-12.m-auto
            .section-heading
              h4.section-title Affordable pricing plan for you
              p
                | We have different type of pricing table to choose with your need. Check which one is most suitble for you and your business purpose.
        .row
          .col-lg-4.col-sm-6
            .pricing-block
              .price-header
                i.flaticon-start
                h4.price
                  small $
                  | 26
                h5 Monthly pack
              .line
              ul
                li 5 GB Bandwidth
                li Highest Speed
                li 1 GB Storage
                li Unlimited Website
                li Unlimited Users
                li Data Security and Backups
                li 24x7 Great Support
                li Monthly Reports and Analytics
              a.btn.btn-hero.btn-circled(href='#') select plan
          .col-lg-4.col-sm-6
            .pricing-block
              .price-header
                i.flaticon-value
                h4.price
                  small $
                  | 46
                h5 Monthly pack
              .line
              ul
                li 5 GB Bandwidth
                li Highest Speed
                li 1 GB Storage
                li Unlimited Website
                li Unlimited Users
                li Data Security and Backups
                li 24x7 Great Support
                li Monthly Reports and Analytics
              a.btn.btn-hero.btn-circled(href='#') select plan
          .col-lg-4.col-sm-6
            .pricing-block
              .price-header
                i.flaticon-idea
                h4.price
                  small $
                  | 76
                h5 Monthly pack
              .line
              ul
                li 5 GB Bandwidth
                li Highest Speed
                li 1 GB Storage
                li Unlimited Website
                li Unlimited Users
                li Data Security and Backups
                li 24x7 Great Support
                li Monthly Reports and Analytics
              a.btn.btn-hero.btn-circled(href='#') select plan
    // PRICE AREA END
    // TESTIMONIAL AREA START
    section.section-padding.bg-main
      .container
        .row
          .col-lg-8.m-auto.col-sm-12.col-md-12
            #test-carousel2.carousel.slide
              .carousel-inner
                ol.carousel-indicators
                  li.active(data-target='#test-carousel2', data-slide-to='0')
                  li(data-target='#test-carousel2', data-slide-to='1')
                  li(data-target='#test-carousel2', data-slide-to='2')
                .carousel-item.active
                  .row
                    .col-lg-12.col-sm-12
                      .testimonial-content.style-2
                        .author-info
                          .author-img
                            img.img-fluid(src='assets/img/author/3b.jpg', alt='')
                        p
                          i.icofont.icofont-quote-left
                          | They is a great platform to anyone like who want to start buisiness but not get right decision. It’s really great placefor new to start the buisness in righ way! 
                          i.icofont.icofont-quote-right
                        .author-text
                          h5 Marine Joshi
                          p Senior designer
                .carousel-item
                  .row
                    .col-lg-12.col-sm-12
                      .testimonial-content.style-2
                        .author-info
                          .author-img
                            img.img-fluid(src='assets/img/author/5b.jpg', alt='')
                        p
                          i.icofont.icofont-quote-left
                          | They is a great platform to anyone like who want to start buisiness but not get right decision. It’s really great placefor new to start the buisness in righ way! 
                          i.icofont.icofont-quote-right
                        .author-text
                          h5 Marine Joshi
                          p Senior designer
                // ITEM END
                .carousel-item
                  .row
                    .col-lg-12.col-sm-12
                      .testimonial-content.style-2
                        .author-info
                          .author-img
                            img.img-fluid(src='assets/img/author/3b.jpg', alt='')
                        p
                          i.icofont.icofont-quote-left
                          | They is a great platform to anyone like who want to start buisiness but not get right decision. It’s really great placefor new to start the buisness in righ way!
                          i.icofont.icofont-quote-right
                        .author-text
                          h5 Marine Joshi
                          p Senior designer
                // ITEM END
                // TESTIMONIAL AREA END
                // PARTNER START
                section.section-padding
                  .container
                    .row
                      .col-lg-3.col-sm-6.col-md-3.text-center
                        img.img-fluid(src='assets/img/clients/client01.png', alt='partner')
                      .col-lg-3.col-sm-6.col-md-3.text-center
                        img.img-fluid(src='assets/img/clients/client06.png', alt='partner')
                      .col-lg-3.col-sm-6.col-md-3.text-center
                        img.img-fluid(src='assets/img/clients/client04.png', alt='partner')
                      .col-lg-3.col-sm-6.col-md-3.text-center
                        img.img-fluid(src='assets/img/clients/client05.png', alt='partner')
                // PARTNER END
                // FOOTER AREA START
                section#footer.section-padding
                  .container
                    .row
                      .col-lg-5.col-sm-8.col-md-8
                        .footer-widget.footer-link
                          h4
                            | We concern about you
                            br
                            |  to grow business rapidly.
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ipsam hic non sunt recusandae atque unde saepe nihil earum voluptatibus aliquid optio suscipit nobis quia excepturi vel quod, iure quae.
                      .col-lg-2.col-sm-4.col-md-4
                        .footer-widget.footer-link
                          h4 About
                          ul
                            li
                              a(href='#') About
                            li
                              a(href='#') Service
                            li
                              a(href='#') Pricing
                            li
                              a(href='#') Team
                            li
                              a(href='#') Testimonials
                            li
                              a(href='#') Blog
                      .col-lg-2.col-sm-6.col-md-6
                        .footer-widget.footer-link
                          h4 Quick Links
                          ul
                            li
                              a(href='#') How it Works
                            li
                              a(href='#') Support
                            li
                              a(href='#') Privacy Policy
                            li
                              a(href='#') Report Bug
                            li
                              a(href='#') License
                            li
                              a(href='#') Terms & Condition
                      .col-lg-3.col-sm-6.col-md-6
                        .footer-widget.footer-text
                          h4 Our location
                          p.mail
                            span Mail:
                            |  promdise@gmail.com
                          p
                            span Phone :
                            | +202-277-3894
                          p
                            span Location:
                            |  455 West Orchard Street Kings Mountain, NC 28086,NOC building
                    .row
                      .col-lg-12.text-center
                        .footer-copy
                          | © 2018 Promodise inc. All Rights Reserved.
                // FOOTER AREA END
                // Optional JavaScript
                // jQuery first, then Popper.js, then Bootstrap JS
                script(src='assets/js/jquery.min.js')
                // contact form
                script(src='assets/js/contact.js')
                script(src='assets/bootstrap/js/popper.min.js')
                script(src='assets/bootstrap/js/bootstrap.min.js')
                // Counter up
                script(src='assets/js/jquery.waypoints.js')
                script(src='assets/js/jquery.counterup.min.js')
                script(src='assets/js/jquery.easing.1.3.js')
                // wow animation
                script(src='assets/js/wow.min.js')
                script(src='assets/js/custom.js')
