doctype html
html(lang='zxx')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='seo & digital marketing')
    meta(name='keywords', content='marketing,digital marketing,creative, agency, startup,promodise,onepage, clean, modern,seo,business, company')
    meta(name='author', content='dreambuzz')
    // Bootstrap CSS
    link(rel='stylesheet', href='assets/bootstrap/css/bootstrap.css', type='text/css')
    // Icon Font css
    link(rel='stylesheet', href='assets/fonts/flaticon/flaticon.css', type='text/css')
    // FONT AWESOME ICON
    link(rel='stylesheet', href='assets/css/all.css', type='text/css')
    link(rel='stylesheet', href='assets/css/icofont.css', type='text/css')
    // Animate STYLE
    link(rel='stylesheet', href='assets/css/animate.min.css', type='text/css')
    // Theme CUSTOM STYLE
    link(rel='stylesheet', href='assets/css/style.css', type='text/css')
    // RESPONSIVE STYLE
    link(rel='stylesheet', href='assets/css/responsive.css', type='text/css')
    title Promodise - seo and digital marketing solution 
  body(data-spy='scroll', data-target='.fixed-top')
    nav.navbar.navbar-expand-lg.fixed-top.trans-navigation
      .container
        a.navbar-brand(href='index')
          img.img-fluid.b-logo(src='assets/img/logo.png', alt='')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#mainNav', aria-controls='mainNav', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
            i.fa.fa-bars
        #mainNav.collapse.navbar-collapse.justify-content-end
          ul.navbar-nav
            li.nav-item.dropdown
              a#navbarWelcome.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Home
              .dropdown-menu(aria-labelledby='navbarWelcome')
                a.dropdown-item(href='index')
                  | Home-1
                a.dropdown-item(href='index-2')
                  | Home-2
                a.dropdown-item(href='index-3')
                  | Home-3
            li.nav-item
              a.nav-link.smoth-scroll(href='about') About
            li.nav-item
              a.nav-link.smoth-scroll(href='service') Service
            li.nav-item
              a.nav-link.smoth-scroll(href='pricing') Pricing
            li.nav-item
              a.nav-link.smoth-scroll(href='blog') Blog
            li.nav-item
              a.nav-link.smoth-scroll(href='contact') Contact
    // MAIN HEADER AREA END
    // MAIN BANNER AREA START
    #page-banner.page-banner-area.page-service
      .overlay.dark-overlay
      .container
        .row.justify-content-center
          .col-lg-8.m-auto.text-center.col-sm-12.col-md-12
            .banner-content.content-padding
              h1.text-white Services we provide
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, perferendis?
    // MAIN HEADER AREA END
    // SERVICE BLOCK2 START
    section#service-2.section-padding
      .container
        .row.justify-content-center
          .col-lg-4.col-md-6
            .service-box-2
              span 01
              h4
                | Best 
                br
                | Analytics Audits
              p
                | We have had the pleasure of partnering with a wide array of brands ranging from tech startups to Fortune 500 enterprises.
          .col-lg-4.col-md-6
            .service-box-2
              span 02
              h4
                | Deep 
                br
                | Technical SEO
              p
                | Over the last decade, we have had the pleasure of partnering with a wide array of brands ranging enterprises.
          .col-lg-4.col-md-6
            .service-box-2
              span 03
              h4
                | Modern 
                br
                | Keyword Analysis
              p
                | Over the last decade a wide array of brands ranging from tech startups to Fortune 500 enterprises.
    // SERVICE BLOCK2 END
    // SERVICE AREA START
    section.section.pt-0
      .container
        .row.align-items-center
          .col-lg-5.col-sm-12.col-md-6.mb-4
            img.img-fluid(src='assets/img/bg/2-min.jpg', alt='feature bg')
          .col-lg-7.pl-4
            .mb-5
              h3.mb-4
                | We are making beautiful 
                br
                | design layout business site
              p
                | We craft beautiful website layout from scratch.You need not to worry about site design and other technial issue.We provide these attractive service as a bonus.Let's have atalk together for your next project.
            ul.about-list
              li
                h5.mb-2
                  i.icofont.icofont-check-circled
                  | Responsive site
                p Leverage agile frameworks to provide a robust synopsis for high level overviews.
              li
                h5.mb-2
                  i.icofont.icofont-check-circled  
                  |  Latest bootstrap 4
                p Leverage agile frameworks to provide a robust synopsis for high level overviews.
              li
                h5.mb-2
                  i.icofont.icofont-check-circled  
                  | Modern design
                p Leverage agile frameworks to provide a robust synopsis for high level overviews.
              li
                h5.mb-2
                  i.icofont.icofont-check-circled  
                  | Working contact form
                p Leverage agile frameworks to provide a robust synopsis for high level overviews.
    // SERVICE AREA END
    // SERVICE PARTNER START
    section#service-head.service-style-two
      .container
        .row.justify-content-center
          .col-lg-8.col-sm-12.m-auto
            .heading.text-white.text-center
              h4.section-title.text-white Full stack digital marketing solution
              p
                | We’re full service which means we’ve got you covered on design & content right through to digital. You’ll form a lasting relationship with us.
    // SERVICE PARTNER END
    // SERVICE AREA START
    section#service
      .container
        .row
          .col-lg-4.col-sm-6.col-md-6
            .service-box.p-5.rounded.mb-4
              img.img-fluid(src='assets/img/icon/007-digital-marketing-3.png', alt='service-icon')
              h4.my-4 Video Marketing
              p
                | Reach a huge area of users and get a publicty of your product and service ,
                span video marketing
                |  solution.
          .col-lg-4.col-sm-6.col-md-6
            .service-box.p-5.rounded.mb-4
              img.img-fluid(src='assets/img/icon/008-digital-marketing-2.png', alt='service-icon')
              h4.my-4 Email Marketing
              p
                | Email Marketing is a great solution to reach a 
                span high range of customers
                |  eagrerly a service.
          .col-lg-4.col-sm-6.col-md-6
            .service-box.p-5.rounded.mb-4
              img.img-fluid(src='assets/img/icon/003-task.png', alt='service-icon')
              h4.my-4 SEO optimization
              p
                | we provide wide range of
                span  seo service
                |  to make your site at top to reach provided.
          .col-lg-4.col-sm-6.col-md-6
            .service-box.p-5.rounded
              img.img-fluid(src='assets/img/icon/010-digital-marketing.png', alt='service-icon')
              h4.my-4 Custom Website
              p
                | We  provide 
                span custom website
                |  for any small and large company web based service in large compact package.
          .col-lg-4.col-sm-6.col-md-6
            .service-box.p-5.rounded
              img.img-fluid(src='assets/img/icon/006-analytics.png', alt='service-icon')
              h4.my-4 Content Growth
              p
                | Content is king,Having a blog site and want to 
                span build content
                |  make a platform of earning.
          .col-lg-4.col-sm-6.col-md-6
            .service-box.p-5.rounded
              img.img-fluid(src='assets/img/icon/004-hiring.png', alt='service-icon')
              h4.my-4 Link Building 
              p
                | Want to grow your 
                span potential visitor
                |  your site to make it more effective and succesful business .
    // SERVICE AREA END
    // PARTNER START
    section#clients.section-padding
      .container
        .row.justify-content-center
          .col-lg-8.text-center
            .mb-5
              h3.mb-2 Trusted by hundred over years
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, dignissimos?
        .row
          .col-lg-3.col-sm-6.col-md-3.text-center
            img.img-fluid(src='assets/img/clients/client01.png', alt='partner')
          .col-lg-3.col-sm-6.col-md-3.text-center
            img.img-fluid(src='assets/img/clients/client06.png', alt='partner')
          .col-lg-3.col-sm-6.col-md-3.text-center
            img.img-fluid(src='assets/img/clients/client04.png', alt='partner')
          .col-lg-3.col-sm-6.col-md-3.text-center
            img.img-fluid(src='assets/img/clients/client05.png', alt='partner')
    // PARTNER END
    // FOOTER AREA START
    section#footer.section-padding
      .container
        .row
          .col-lg-5.col-sm-8.col-md-8
            .footer-widget.footer-link
              h4
                | We concern about you
                br
                |  to grow business rapidly.
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ipsam hic non sunt recusandae atque unde saepe nihil earum voluptatibus aliquid optio suscipit nobis quia excepturi vel quod, iure quae.
          .col-lg-2.col-sm-4.col-md-4
            .footer-widget.footer-link
              h4 About
              ul
                li
                  a(href='#') About
                li
                  a(href='#') Service
                li
                  a(href='#') Pricing
                li
                  a(href='#') Team
                li
                  a(href='#') Testimonials
                li
                  a(href='#') Blog
          .col-lg-2.col-sm-6.col-md-6
            .footer-widget.footer-link
              h4 Quick Links
              ul
                li
                  a(href='#') How it Works
                li
                  a(href='#') Support
                li
                  a(href='#') Privacy Policy
                li
                  a(href='#') Report Bug
                li
                  a(href='#') License
                li
                  a(href='#') Terms & Condition
          .col-lg-3.col-sm-6.col-md-6
            .footer-widget.footer-text
              h4 Our location
              p.mail
                span Mail:
                |  promdise@gmail.com
              p
                span Phone :
                | +202-277-3894
              p
                span Location:
                |  455 West Orchard Street Kings Mountain, NC 28086,NOC building
        .row
          .col-lg-12.text-center
            .footer-copy
              | © 2018 Promodise inc. All Rights Reserved.
    // FOOTER AREA END
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='assets/js/jquery.min.js')
    // contact form
    script(src='assets/js/contact.js')
    script(src='assets/bootstrap/js/popper.min.js')
    script(src='assets/bootstrap/js/bootstrap.min.js')
    // Counter up
    script(src='assets/js/jquery.waypoints.js')
    script(src='assets/js/jquery.counterup.min.js')
    script(src='assets/js/jquery.easing.1.3.js')
    // wow animation
    script(src='assets/js/wow.min.js')
    script(src='assets/js/custom.js')
